.box_shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #989898;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #989898;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #989898;
}

.round_image {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.round_image img {
    width: auto;
    height: 100%;
}

.dark_placeholder_text::placeholder {
    color: gray;
}
